		<div class="container">
			<div class="btn-container">
				<button class="btn btn-transparent btn-sm" ui-sref="home"><i class="fa fa-backward fa-2x"></i></button>
				<button ng-click="savePoll()" class="btn btn-transparent btn-sm"><i class="fa fa-save fa-2x"></i></button>
				<button ng-click="deletePoll(poll._id)" class="btn btn-transparent btn-sm"><i class="fa fa-remove fa-2x"></i></button>
			</div>
			
			<p><label>
		       Poll name:
		       <input type="text" name="pollName" ng-model="poll.pollName"
		       ng-minlength="3" ng-maxlength="50">
		    </label></p>
		    <p><label>
		       Poll question:
		       <input type="text" name="pollQuestion" ng-model="poll.pollQuestion"
		       ng-minlength="3" ng-maxlength="300">
		    </label></p>
			<br />
			
			<p>Edit available options</p>
			<div ng-repeat="option in poll.options">
				<p ><label>Option:<input type="text" name="optionName" ng-model="option.optionName"></label><b>{{option.voteCount}}</b> <button ng-click="deleteOption($index)" class="btn btn-transparent"><i class="fa fa-remove fa-large"></i></button></p>
			</div>
			<p> <button class="btn btn-add btn-transparent" data-ng-click="addOption()"><i class="fa fa-plus fa-2x"></i></button></p>
			
		</div>