<div class="container">
	<div class="btn-container">
		<button ui-sref="home" type="submit" class="btn btn-transparent"><i class="fa fa-backward fa-2x"></i></button>
		<button ng-show="poll.userId == currentUserID" class="btn btn-transparent btn-sm" ui-sref="editpoll({pollid: poll._id})"><i class="fa fa-edit fa-2x"></i></button>
		<button ng-show="poll.userId == currentUserID" class="btn btn-transparent btn-sm" ng-click="deletePoll(poll._id)"><i class="fa fa-remove fa-2x"></i></button>
	</div>
	<p>UserID:{{currentUserID}}</p>
	<h1 class="poll-name"><b>{{poll.pollName}}</b></h1>
	<h3 class="poll-question">{{poll.pollQuestion}}</h3>
	<br />
	<p>Choose an option below:</p>
	<div class="options-box container-fluid">
		<div ng-repeat="option in poll.options">
			<div class="row">
				<div class="col-md-8">
					<b>{{ option.optionName}}</b>
				</div>
				<div class="col-md-2">
					{{option.voteCount}}
				</div>
				<div class="col-md-2">
					<button ng-click="vote(poll._id, option._id)" class="btn btn-transparent"><i class="fa fa-thumbs-up "></i></button>
				</div>
			</div>
		</div>
		<p class="chart-name">Votes so far</p>
		<canvas class="chart chart-pie " chart-options="options" chart-data="data" chart-labels="labels"></canvas>
	</div>
</div>
</div>